<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora do Chuchu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{InputsdeEntrada}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
            <ion-col size="3">
              <ion-button (click)="AddNumber('+')" color="medium">+</ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="AddNumber('-')" color="medium">-</ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="AddNumber('*')" color="medium">*</ion-button>
            </ion-col>
            <ion-col size="3">
              <ion-button (click)="AddNumber('÷')" color="medium">÷</ion-button>
            </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button (click)="AddNumber('9')" class="botaoRedondo" shape="round">9</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AddNumber('8')" class="botaoRedondo" shape="round">8</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AddNumber('7')" class="botaoRedondo" shape="round">7</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="AddNumber('6')" class="botaoRedondo" shape="round">6</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AddNumber('5')" class="botaoRedondo" shape="round">5</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AddNumber('4')" class="botaoRedondo" shape="round">4</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="AddNumber('3')" class="botaoRedondo" shape="round">3</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AddNumber('2')" class="botaoRedondo" shape="round">2</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AddNumber('1')" class="botaoRedondo" shape="round">1</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button (click)="AddNumber('C')" class="botaoRedondo" shape="round"color="danger">C</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="AddNumber('0')" class="botaoRedondo" shape="round">0</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="Calcular()" class="botaoRedondo" shape="round"color="dark">=</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Resultado</ion-card-subtitle>
      <ion-card-title>{{Resultado}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
